.size-40 {
    width: 40px;
    height: 40px;
}
.search-icon {
    padding-left: 10px;
}
.search-bar {
    width: 95%;
    flex-grow: 1;
    padding-left: 30px;
}
.post-img-size {
    width: 85px;
    height: 85px;
}
.img-container {
    position: relative;
    text-align: center;
}
.img-description {
    font-size: 35px;
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
@media (min-width: 1200px){
    .button-size {
        width: 165px;
    }
}